<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>멤버 조회</title>
<style type="text/css">
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#result {
	margin: 30px auto;
	width: 1200px;
	text-align: center;
}
</style>
</head>
<body>
	<h3>멤버 조회</h3>
	<h3>멤버 삭제</h3>
	<input type="text" id="id" placeholder="삭제할 아이디 입력">
	<button type="button" onclick="doDelete()">삭제하기</button>
	<h3>멤버 추가</h3>
	<input type="text" id="addName" placeholder="이름 입력">
	<input type="text" id="addAge" placeholder="나이 입력">
	<button type="button" onclick="doAdd()">멤버 추가</button>
	<h3>멤버 수정</h3>
	<input type="text" id="updateId" placeholder="수정할 아이디 입력">
	<input type="text" id="updateName" placeholder="이름 입력">
	<input type="text" id="updateAge" placeholder="나이 입력">
	<button type="button" onclick="doUpdate()">멤버 수정</button>
	<div id="result"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
<script type="text/javascript">
	callMember();

	function doUpdate(){
		var id = $("#updateId").val();
		var name = $("#updateName").val();
		var age = $("#updateAge").val();
		
		var data = {
				"id" : id,
				"name" : name,
				"age" : age
		}
		
		$.ajax({
			url : "/member",
			type : "PATCH",
			contentType: 'application/json',
			data : JSON.stringify(data),
			dataType : 'json',
			success: function(response){
				alert("멤버 수정 완료")
				location.reload();
			}
		});
	}
	
	function doAdd() {
		var name = $("#addName").val();
		var age = $("#addAge").val();

		var data = {
			"name" : name,
			"age" : age
		}

		$.ajax({
			url : '/member',
			type : 'POST',
			contentType : 'application/json',
			data : JSON.stringify(data),
			dataType : 'json',
			success : function(response) {
				alert("멤버 추가 완료");
				location.reload();
			}
		});

	}

	function doDelete() {
		var id = $("#id").val();
		$.ajax({
			url : '/member/' + id,
			type : 'DELETE',
			dataType : 'json',
			success : function(response) {
				console.log(response);
				location.reload();
			}
		});

	}

	function callMember() {
		var table = "<table>";
		$.ajax({
			url : '/members',
			type : 'GET',
			contentType : 'application/json',
			dataType : 'json',
			success : function(response) {
				console.log(response);
				for (var i = 0; i < response.length; i++) {
					table += "<tr><td>" + response[i].id + "</td><td>"
							+ response[i].age + "</td><td>" + response[i].name
							+ "</td><td>"+ response[i].dept.dname +"</td></tr>";
				}
				table += "</table>";
				$("#result").append(table);
			}
		 
		});

	}
</script>
</html>